.idea/
G1_gaspi/.idea/workspace.xml

G1_gaspi/out/production/G1-Reduction-consommation/sample/model/Annonce\.class

G1_gaspi/out/production/G1-Reduction-consommation/sample/controller/AnnoncesController\.class
